.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 75px;
}

.raining{
    background-color: red;
}

.not-raining{
    background-color: green;
}